<html lang="en">
<head>
      <!--h1>Advaitham Hotel</h1!-->
</h1>
<link rel="stylesheet" href="stylesheet/style.css">
<!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 <!-- Optional theme -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!--<script src=js/tooltips.js>-->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Trade+Winds" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<link href="https://fonts.googleapis.com/css?family=Ruthie" rel="stylesheet">
<script src="js/avail_js.js" charset="utf-8"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#myTooltip").tooltip({
        title: "<h4><b>pets:300/-perday.<br>For child care:500/-perday</b></h4>",
        html: true,
    });
    $("#myTooltip1").tooltip({
        title: "<h4>There is no charge for child under the age of 7</h4>",
        html: true,
    });
    $("#myTooltip4").tooltip({
        title: "<h4><b>There is no charge for child under the age of 7</h4>  ",
        html: true,
    });
    $("#myTooltip3").tooltip({
        title: "<h4><b>pets:400/-perday.<br>For child care:500/-perday</b></h4>",
        html: true,
    });
    $("#myTooltip5").tooltip({
        title: "<h4><b> Free Snacks included</b></h4></p>",
        html: true,
    });
    $("#myTooltip6").tooltip({
        title: "<h4><b>pets:500/-perday.<br>For child care:500/-perday</b></h4>",
        html: true,
    });
    $("#myTooltip7").tooltip({
        title: "<h4><b>There is no charge for child under the age of 7</h4>",
        html: true,
    });
    $("#myTooltip8").tooltip({
        title: "<h4><b>Free delicious Morning Breakfast<b></h4>",
        html: true,
    });
    $("#myTooltip9").tooltip({
        title: "<h4><b>pets:500/-perday.<br>For child care:600/-perday</b></h4>",
        html: true,
    });
    $("#myTooltip10").tooltip({
        title: "<h4><b>There is no charge for child under the age of 7</h4>",
        html: true,
    });
    $("#myTooltip11").tooltip({
        title: "<h4><b>Free delicious Morning Breakfast<b></h4>",
        html: true,
    });



});
</script>


</head>

<body id="body" ng-app="myApp">
    <div class="row" id="navigation">
       <img class="col-xs-1"src="images/log3.png" alt="logo image" width="9%" height="15%">
       <h1 class="col-xs-5">ADVAITHAM STAR HOTEL<h1></li>
       </div>

       <div class="row" id="secondNav">
        <a class="col-xs-1" href="index.html">HOME</a>
          <a class="col-xs-1" href="galary.html">GALLERY</a>

            <a class="col-xs-1" href="facilities.html"> FACILITIES</a>

            <!--a class="col-xs-2" href="#">Contact</a></li!-->

            <a class="col-xs-1" href="rooms.html">ROOMS</a>
          <a class="col-xs-2" href="bookroom.html">BOOK YOUR ROOM</a>
          <a class="col-xs-1" href="contact.html">CONTACT US</a>
          <a class="col-xs-1" href="feedback.html">FEEDBACK</a>
          <a class="col-xs-1" href="feedback.html">OUR TEAM</a>
           </div>
<div id="br1">
  <img src="images/br1.jpg">
</div>
<div id="br3" class="row">
  <br><br>
<!--label class="container">&nbsp&nbspstar room
  <input type="radio" name="radio" value="str1" >
  <span class="checkmark" ></span>
</label>
<label class="container">&nbsp&nbspstar superior room
  <input type="radio"  name="radio" value="str2">
  <span class="checkmark"></span>
</label>
<label class="container">&nbsp&nbspstar room with balcony
  <input type="radio" name="radio" value="str3">
  <span class="checkmark"></span>
</label>
<label class="container">&nbsp&nbspsuperstar room
  <input type="radio"  name="radio" value="str4">
  <span class="checkmark"></span>
</label>
</div><br><br>
<div class="col-xs-offset-1 custom-select" style="width:200px;">
  <select>
    <option value="0">Number of rooms:</option>
    <option value="1">1 Room</option>
    <option value="2">2 Room</option>
    <option value="3">3 Room</option>
    <option value="4">4 Room</option>
    </select>
</div>

<script>
var x, i, j, selElmnt, a, b, c;
x = document.getElementsByClassName("custom-select");
for (i = 0; i < x.length; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 0; j < selElmnt.length; j++) {
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
            var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {

      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
    });
}
function closeAllSelect(elmnt) {
    var x, y, i, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  for (i = 0; i < y.length; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < x.length; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}
document.addEventListener("click", closeAllSelect);</script-->
<br><br>
 <!--h3 class="col-xs-offset-1 col-xs-2">Check in</p>
     <h3 class="col-xs-offset-2 col-xs-2">Check out</p>
</div>
<form><div id="br2" ng-controller="myControllerform">
  <input class="col-xs-offset-1  col-xs-2" type="date" ng-model="checkindate">
<input class="col-xs-offset-2 col-xs-2" type="date" ng-model="checkoutdate">

</div></form-->
<!--div class="ng-view"></div!-->
<div id="r" class="row">
  <div class="col-xs-offset-1 col-xs-4">
      <div class="hovereffect">
          <img class="img-responsive" src="ROOMS/1.jpg" alt="">

             <h2>STAR ROOMS</h2>

      </div>
  </div>

  <p >
    <br>
    <div  id="bk" class="bs-example  col-xs-7">


  <p href="#">&nbsp&nbsp&nbsp&nbsp Hot Deal get 50% Discount&nbsp&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<label class="pp">
</p><br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" data-toggle="tooltip" id="myTooltip">Low Price </a>
            <br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" data-toggle="tooltip" id="myTooltip1">Adult 2 child 1</a><br><br><br>

      &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp   <i  class="fa fa-rupee" style="font-size:50px">1,799 </i>
            <p style="font-size:15px">&nbsp&nbsp&nbsp&nbspThese rates incl  ude tax,<br>&nbsp&nbsp&nbsp&nbspNot include 10% service charge</P>
            &nbsp&nbsp&nbsp&nbsp  <a href="st1.html" class="col-xs-2" style="font-size:15px" >Room Details</a>
              <a href="starroom.html" class="col-xs-offset-6 button" type="submit" ><span>Book Now </span></a>




</div>
</div>
<div id="r" class="row">
  <div class="col-xs-offset-1 col-xs-4">
      <div class="hovereffect">
          <img class="img-responsive" src="ROOMS/2.jpg" alt="">

             <h2>SUPERIOR STAR ROOMS</h2>

      </div>
  </div>

  <p >
    <br>
    <div  id="bk" class="bs-example  col-xs-7">


  <p href="#">&nbsp&nbsp&nbsp&nbsp Hot Deal get 50% Discount&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<label class="pp">
  <!--select>
<option value="0">0 </option>
<option value="1">1 Room</option>
<option value="2">2 Room</option>
<option value="3">3 Room</option>
</select></label!--></p><br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" data-toggle="tooltip" id="myTooltip3">Low Price </a>
            <br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" data-toggle="tooltip" id="myTooltip4">Adult 2 child 1</a><br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" data-toggle="tooltip" id="myTooltip5">Snakes included</a><br><br><br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i  class="fa fa-rupee" style="font-size:50px">2,599 </i>
          &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp<p style="font-size:15px">&nbsp&nbsp&nbsp&nbspThese rates include tax,<br>&nbsp&nbsp&nbsp&nbspNot include 10% service charge</P>
              <a href="st2.html" class="col-xs-2"style="font-size:15px" >Room Details</a>
              <a href="superiorstarroom.html" class="col-xs-offset-6 button" type="submit" ><span>Book Now </span></a>





</div>
</div>
<div id="r" class="row">
  <div class="col-xs-offset-1 col-xs-4">
      <div class="hovereffect">
          <img class="img-responsive" src="ROOMS/3.jpg" alt="">

             <h2>SUPPER STAR ROOMS</h2>

      </div>
  </div>

  <p >
    <br>
    <div  id="bk" class="bs-example  col-xs-7">


  <p href="#">&nbsp&nbsp&nbsp&nbsp Hot Deal get 50% Discount&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<label class="pp">
  <!--select>
<option value="0">0 </option>
<option value="1">1 Room</option>
<option value="2">2 Room</option>
<option value="3">3 Room</option>
</select></label--></p><br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" data-toggle="tooltip" id="myTooltip6">Low Price </a>
            <br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" data-toggle="tooltip" id="myTooltip7">Adult 2 child 2</a><br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" data-toggle="tooltip" id="myTooltip8">Breakfast included</a><br><br><br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i  class="fa fa-rupee" style="font-size:50px">2,999 </i>
            <p style="font-size:15px">&nbsp&nbsp&nbsp&nbspThese rates include tax,<br>&nbsp&nbsp&nbsp&nbspNot include 10% service charge</p>
            <a href="st4.html" class="col-xs-2"style="font-size:15px" >Room Details</a>
            <a href="s3.html" class="col-xs-offset-6 button" type="submit" ><span>Book Now </span></a>




</div>
</div>
<div id="r1" class="row">
  <div class="col-xs-offset-1 col-xs-4">
      <div class="hovereffect">
          <img class="img-responsive" src="ROOMS/5.jpg" alt="">

             <h2>SUPPERSTAR WITH BALCONY ROOMS</h2>

      </div>
  </div>

  <p >
    <br>
    <div  id="bk" class="bs-example  col-xs-7">


  <p href="#">&nbsp&nbsp&nbsp&nbspHot Deal get 50% Discount&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<label class="pp">
  <!--select>
<option value="0">0 </option>
<option value="1">1 Room</option>
<option value="2">2 Room</option>
<option value="3">3 Room</option>
</select></label--></p><br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" data-toggle="tooltip" id="myTooltip9">Low Price </a>
            <br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" data-toggle="tooltip" id="myTooltip10">Adult 4 child 2</a><br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#" data-toggle="tooltip" id="myTooltip11">Breakfast included</a><br><br><br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i  class="fa fa-rupee" style="font-size:50px">3,999 </i>
            <p style="font-size:15px">&nbsp&nbsp&nbsp&nbspThese rates include tax,<br>&nbsp&nbsp&nbsp&nbspNot include 10% service charge</P>
              <a href="st3.html" class="col-xs-2"style="font-size:15px" >Room Details</a>
              <a href="s4.html" class="col-xs-offset-6 button" type="submit" ><span>Book Now </span></a>




</div>
</div>
<div id="last1">
  <h2>ADVAITHAM STAR HOTEL</h2>
  <img src="images/star.png" align="middile" >    <br>
<p>Address : 115/11 Moo 9 North Pattaya Beach Road, Nong Prue, Banglamung, Chonburi 20150<br>
            Phone : +66 (38) 259 555 (24 hrs)<br>
                 Fax : +66 (38) 424 242<br>
              Email : starinfo@a-onehotel.com,</p>
            </div>
            <div id="last2">
<br><p> <span class="glyphicon glyphicon-copyright-mark"style="font-size:20px"></span>
                hotel advaitham all rights reserved powered by booking to hotel sysytem</p><br>
                </div>
</div>
</body>
</html>

     </body>
     </html>
