<html>
<head>
    <title> Advaitham star hotel </title>
    <link rel="stylesheet" href="stylesheet/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Trade+Winds" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Lobster|Josefin+Slab|Lobster+Two|Coustard" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico|Markazi+Text" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Merienda|Oleo+Script" rel="stylesheet">
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!--jquery sliding  -->
<link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="js/avail_js.js"></script>
</head>
<body ng-app="myApp">


        <div id="body">
          <div class="row" id="navigation">
             <img class="col-xs-1"src="images/log3.png" alt="logo image" width="9%" height="15%">
             <h1 class="col-xs-5">ADVAITHAM STAR HOTEL<h1></li>
             </div>


             <div class="row" id="secondNav">
              <a class="col-xs-1" href="index.html">HOME</a>
                <a class="col-xs-1" href="galary.html">GALLERY</a>

                  <a class="col-xs-1" href="facilities.html"> FACILITIES</a>

                  <!--a class="col-xs-2" href="#">Contact</a></li!-->

                  <a class="col-xs-1" href="rooms.html">ROOMS</a>


                <a class="col-xs-2" href="bookroom.html">BOOK YOUR ROOM</a>
                <a class="col-xs-1" href="contact.html">CONTACT US</a>
                <a class="col-xs-1" href="feedback.html">FEEDBACK</a>
                <a class="col-xs-1" href="revi.html">REVIEW</a>

                <br><br>
&nbsp;<br></br>
              <div class="panel" id="im">

              <div class="row" id="center" ng-controller="myControllerFeed" >
                      <div>
                      <div class="ng-view ng-scope">
                      <div class="row " id="center">


              <div class="col-md-offset-2 col-md-6 col-xs-12 ">

                <div class="imagebg"></div>
                <div   class="row " style="margin-top: 50px;">
                    <div class="col-md-6 col-md-offset-3 form-container">
                        <h2 style="color:black;">Feedback</h2>
                        <p style="color:black;" >
                            Please provide your feedback below:
                        </p>
                        <form style="color:black;" role="form" method="post" id="reused_form" >
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                <label>How do you rate your overall experience?</label>
                                <p>
                                    <label class="radio-inline">
                                    <input type="radio" name="experience" id="radio_experience" value="bad" ng-model="rating" >
                                    Bad
                                    </label>

                                    <label class="radio-inline">
                                    <input type="radio" name="experience" id="radio_experience" value="average" ng-model="rating">
                                    Average
                                    </label>

                                    <label class="radio-inline">
                                    <input type="radio" name="experience" id="radio_experience" value="good" ng-model="rating" >
                                    Good
                                    </label>
                                </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="comments">
                                        Comments:</label>
                                    <textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Your Comments" maxlength="6000" rows="7" required ng-model="comments"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="name">
                                        Your Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" required ng-model="name">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="email">
                                        Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" required ng-model="email">
                                </div>

                            </div>

                                        <div class="row">
                                <div class="col-sm-12 form-group">
                                    <button type="submit" class="btn btn-lg btn-warning btn-block"  ng-click="givefeedback()">Post </button>
                                    <h3>{{msg.message}}</h3>
                                </div>
                            </div>

                        </form>
                        <div id="success_message" style="width:100%; height:100%; display:none; ">
                            <h3>Posted your feedback successfully!</h3>
                        </div>
                        <div id="error_message"
                                style="width:100%; height:100%; display:none; ">
                                    <h3>Error</h3>
                                    Sorry there was an error sending your form.

                        </div>
                    </div>
                </div>


            </div>
            </div>

                      </div>
                </div>


                  </div>
            </div>
          </div>





  </div>
  <div id="last1">
    <h2>ADVAITHAM STAR HOTEL</h2>
    <img src="images/star.png" align="middile" >    <br>
  <p>Address : 115/11 Moo 9 North Pattaya Beach Road, Nong Prue, Banglamung, Chonburi 20150<br>
              Phone : +66 (38) 259 555 (24 hrs)<br>
                   Fax : +66 (38) 424 242<br>
                Email : starinfo@a-onehotel.com,</p>
              </div>
              <div id="last2">
<br><p> <span class="glyphicon glyphicon-copyright-mark"style="font-size:20px"></span>
                  hotel advaitham all rights reserved powered by booking to hotel sysytem</p><br>
                  </div>


            </body>
            </html>
